.container {
  max-width: 100rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.gridContainer {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 25rem;
    padding: 2rem;
    margin: 1rem;
    border-radius: 10px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -0.05rem;
}

.header {
  display: flex;
  flex-direction: row;
}

.headerHomeImage {
  width: 30%;
}

.backToHome {
  margin: 3rem 0 0;
}

.siteName {
    background-color: grey;
    font-size: 18px;
    width: auto;
    text-align: center;
    padding: 2rem 2rem 2rem 2rem;
}

.dropbtn {
    height: inherit;
  width: auto;
  border: none;
  text-align: center;
  transition: 0.7s;
  padding: 2rem 0 2rem 0;
}

.dropdown {
    overflow: auto;
  align-items: center;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownContent a {
  color: black;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
}

.dropdownContent a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.dropdown:hover .dropbtn {
  opacity: 1;
}
